<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rkskekabc.mappers.memberMapper">
	<select id="doLogin" resultType="MemberVO">
		select * from tbl_member where m_id = #{m_id} and m_pw = #{m_pw}
	</select>
	
	<insert id="doSignup" parameterType="MemberVO">
		insert into tbl_member(m_id, m_pw, m_name) values(#{m_id}, #{m_pw}, #{m_name})
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="String">
		select m_id from tbl_member where m_id = #{m_id}
	</select>
</mapper>